<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ale.juan.ftrip"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ale.juan.ftrip.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ale.juan.ftrip.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.Agenda"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.Calendario"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.InvitarAmigos"
            android:label="@string/title_activity_invitar_amigos" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.Evento"
            android:label="@string/title_activity_evento" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.ItinerarioMapa"
            android:label="@string/title_activity_itinerario_mapa" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.ItinerarioLista"
            android:label="@string/title_activity_itinerario_lista" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.Hoteles"
            android:label="@string/title_activity_hoteles" >
        </activity>
        <activity
            android:name="ale.juan.ftrip.Pagos"
            android:label="@string/title_activity_pagos" >
        </activity>
    </application>

</manifest>
